WebApplicationMateriales/Connected Services/srvEmpleados/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15562/srvEmpleados.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15562/srvEmpleados.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15562/srvEmpleados.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CPM.Empleados.Servicio.Entidades" />
      <xsd:import schemaLocation="http://localhost:15562/srvEmpleados.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvEmpleados_ObtenerEmpleadosPorDeptoId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleadosPorDeptoId" />
  </wsdl:message>
  <wsdl:message name="IsrvEmpleados_ObtenerEmpleadosPorDeptoId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleadosPorDeptoIdResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvEmpleados_InsertaEmpleados_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaEmpleados" />
  </wsdl:message>
  <wsdl:message name="IsrvEmpleados_InsertaEmpleados_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaEmpleadosResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvEmpleados_ObtenerUnEmpleadoPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUnEmpleadoPorId" />
  </wsdl:message>
  <wsdl:message name="IsrvEmpleados_ObtenerUnEmpleadoPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUnEmpleadoPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvEmpleados_ObtenerDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentos" />
  </wsdl:message>
  <wsdl:message name="IsrvEmpleados_ObtenerDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentosResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvEmpleados">
    <wsdl:operation name="ObtenerEmpleadosPorDeptoId">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvEmpleados/ObtenerEmpleadosPorDeptoId" message="tns:IsrvEmpleados_ObtenerEmpleadosPorDeptoId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvEmpleados/ObtenerEmpleadosPorDeptoIdResponse" message="tns:IsrvEmpleados_ObtenerEmpleadosPorDeptoId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaEmpleados">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvEmpleados/InsertaEmpleados" message="tns:IsrvEmpleados_InsertaEmpleados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvEmpleados/InsertaEmpleadosResponse" message="tns:IsrvEmpleados_InsertaEmpleados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUnEmpleadoPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvEmpleados/ObtenerUnEmpleadoPorId" message="tns:IsrvEmpleados_ObtenerUnEmpleadoPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvEmpleados/ObtenerUnEmpleadoPorIdResponse" message="tns:IsrvEmpleados_ObtenerUnEmpleadoPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvEmpleados/ObtenerDepartamentos" message="tns:IsrvEmpleados_ObtenerDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvEmpleados/ObtenerDepartamentosResponse" message="tns:IsrvEmpleados_ObtenerDepartamentos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvEmpleados" type="tns:IsrvEmpleados">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEmpleadosPorDeptoId">
      <soap:operation soapAction="http://tempuri.org/IsrvEmpleados/ObtenerEmpleadosPorDeptoId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaEmpleados">
      <soap:operation soapAction="http://tempuri.org/IsrvEmpleados/InsertaEmpleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUnEmpleadoPorId">
      <soap:operation soapAction="http://tempuri.org/IsrvEmpleados/ObtenerUnEmpleadoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IsrvEmpleados/ObtenerDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IsrvEmpleados" binding="tns:BasicHttpBinding_IsrvEmpleados">
      <soap:address location="http://localhost:15562/srvEmpleados.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>